<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="../resources/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../resources/plugins/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <script src="../resources/plugins/jQuery/jquery-3.3.1.min.js"></script>
    <script src="../resources/plugins/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
    <script src="../resources/plugins/vue/vue.js"></script>

    <script>
        window.onload=function () {
            const control = new Vue({
                el:"#app",
                data:{
                    msg1:'hello',
                    myData:[{name:"jay",age:'18'},
                        {name:"spring",age:'16'}
                    ],
                    username:'',
                    age:'',
                    nowIndex:-1
                },
                methods:{
                    add:function () {this.myData.push({name:this.username,age:this.age});
                        this.reset()
                    },
                    reset:function(){this.username='';this.age='';},
                    deleteData:function(n) {
                        if(n==-2)
                            this.myData=[];
                        else
                            this.myData.splice(n,1);
                    }

                }
            })
        }

    </script>
</head>
<body>
<div id="app" class="container">
    <form role="form">
        <div class="form-group">
            <label for="username">用户名:</label>
            <input type="text" id="username" class="form-control" placeholder="输入用户名" v-model="username">
        </div>
        <div class="form-group">
            <label for="age">年龄:</label>
            <input type="text" id="age" class="form-control" placeholder="输入年龄" v-model="age">
        </div>
        <div class="form-group">
            <input type="button" value="添加" class="btn-primary" v-on:click="add">
            <input type="reset" value="重置" class="btn-danger"  >

        </div>
    </form>
    <hr>
    <table class="table table-bordered table-hover">
        <caption style="caption-side:top" class="h2 text-info text-center">用户信息表</caption>
        <tr class="text-center text-danger">
            <th>序号</th>
            <th>名字</th>
            <th>年龄</th>
            <th>操作</th>

        </tr>
        <tr class="text-center" v-for="(item,index) in myData">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=index">删除</button>
            </td>
        </tr>

        <tr v-show="myData.length!=0">
            <td colspan="4" class="text-right">
                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=-2">删除全部</button>
            </td>
        </tr>
        <tr v-show="myData.length==0">
            <td colspan="4" class="text-center text-muted">
                <p>暂无数据...</p>
            </td>
        </tr>
    </table>

    <div role="dialog" class = "modal fade" id="layer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">确认删除么?</h4>
                    <button class="close"  data-dismiss="modal">
                        <span>&times;</span></button>
                </div>
                <div class="modal-body text-right">
                    <button class="btn btn-sm btn-primary" data-dismiss="modal">取消</button>
                    <button class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="deleteData(nowIndex)">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>