<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd    
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd "
>
    <bean name="jacksonMapper" class="com.marshal.mcap.core.json.JacksonMapper"/>

    <!-- 开启注解 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <!--自定义转换方式-->
                    <bean class="com.marshal.mcap.core.json.JacksonMapper">
                        <!--时区指定 -->
                        <property name="timeZone" value="GMT+8"/>
                        <!-- 为null字段时不显示 -->
                        <property name="serializationInclusion">
                            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>
                        </property>
                    </bean>
                </property>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>

            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 配置自定扫描包 -->
    <context:component-scan base-package="com.marshal.**.controller"/>
    <context:component-scan base-package="com.marshal.**.service"/>
    <context:component-scan base-package="com.marshal.**.validator"/>

    <!--<mvc:resources mapping="/editor-app/**" location="/editor-app/" />-->
    <!--<mvc:resources mapping="/diagram-viewer/**" location="/diagram-viewer/" />-->

    <context:component-scan base-package="org.activiti.rest.service.api"/>


    <bean id="multipartResolver"
          class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>

    <!-- 配置视图解析器: 如何把 handler 方法返回值解析为实际的物理视图 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"></property>
        <property name="suffix" value=".html"></property>
    </bean>


    <!-- 处理静态资源 -->
    <!--.html-dispatchservlet-defaultservlet-->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/editor-app/**" location="/editor-app/" />
    <mvc:resources mapping="/diagram-viewer/**" location="/diagram-viewer/" />

    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <bean class="com.marshal.mcap.core.interceptor.DemoInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>